body {
background-color: antiquewhite;
}

#header {
    text-align: center;
    font-family: 'DM Sans';
    font-weight: bold;
    margin-bottom: 0;
}

#subheader {
    text-align: center;
    font-family: 'DM Sans';
    font-weight: 500;
    margin-top: 5px
}

#games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    object-fit: cover;
}

@media screen and (min-width: 1200px) {
    #games{
        grid-template-columns: 1fr 1fr 1fr;
    }  
}

@media screen and (max-height: 900px) {
    #games{
        grid-template-columns: 1fr 1fr;
    }
    #games img {
        height: 15vh;
    }
}  


#games img {
    width: 30vw;
    height: 30vh;
    border: ridge 10px black;
    border-radius: 20px;
    transition: transform 0.4s, box-shadow 0.4s;
    margin: 5px;
    object-fit: cover;
}

#games img:hover {
    transform: scale(1.05);
    opacity: 1;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, .3);
}
