:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
}

body {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: scroll;
  padding: 0px;
  font-family: "Rubik";
}

#header {
  color: white;
  font-weight: 500;
  text-align: center;
  font-size: max(1em, min(2em, calc(100vw * 4 / 75)));
}

#cards {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 60vw;
  justify-content: center;
  justify-self: center;
}  

.card {
  background-color: rgba(255,255, 255, 0.1);
  height: 260px;
  width: 32%;
  position: relative;
  border-radius: 10px;
  overflow:hidden;
}

.card:hover::before{
  opacity: 1;
  cursor: pointer;
}
.card::before{
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.3), 
    transparent 40%
  );
  content: "";
  opacity: 0;
  transition: opacity 500ms;
  border-radius: inherit;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 3;
}

.card .card-content {
  background-color: var(--card-color);
  margin: 1px;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
}

@media (max-width: 450px) {
  .card, img {
    width: 268px;
    height: 268px;
  }
  #cards{
    width: 300px;
  }
}


@media(max-width: 600px) and (min-width: 451px){
  .card, img{
    width: 342px;
    height: 342px;
  }
  #cards{
    width: 600px;
  }
}

@media(max-width: 850px) and (min-width: 601px){
  .card, img{
    width: 250px;
    height: 250px;
  }
  #cards{
    width: 780px;
  }
}

@media(max-width: 1024px) and (min-width: 850px){
  .card, img{
    width: 330px;
    height: 330px;
  }
  #cards{
    width: 1024px;
    height: 100vh;
  }
}

@media(min-width: 1024px) and (max-width: 1390px) {
  .card, img{
    width:340px;
    height: 340px;
  }
  #cards{
    width: 100vw;
  }
}

@media(min-width: 1390px) and (max-width: 1800px) {
  .card, img{
    width: 340px;
    height: 340px;
  }
  #cards{
    width: 1100px;
  }
}

@media(min-width: 1800px) {
  .card, img{
    width: 380px;
    height: 380px;
  }
  #cards{
    width: 1200px;
  }
}

#youtube-link {
  bottom: 10px;
}

#youtube-link > i {
  color: rgb(255, 255, 255);
}

.link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;  
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  z-index: 100;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.link > i, .link > span {
  height: 20px;
  line-height: 20px;
}

.link > span {
  color: white;
}
